/*NAVBAR*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav.navbar{
    background-color: #C1D5DB;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50px;
}

nav.navbar ul{
    list-style: none;
    text-align: center;
}

nav.navbar ul li{
    color: #FCEEE3;
}


