div.game {
    margin-top: 80px;
}

form{
    text-align: center;
    margin: 0 auto;
}

button{
    margin-top: 10px;
    border: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    cursor: pointer;
}

input{
    text-align: center;
}

button.try{
    width:40px;
    margin-top: 5px;
}

p{
    margin-top: 15px;
    margin-bottom: 0;
}

button{
    margin-top: 0;
}

br{
    height: 0;
}

input:active,
input:focus{
    outline: none;
}